<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>validatorDome</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.validate.css">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="js/lib/additional-methods.js"></script>
    <script type="text/javascript" src="js/addValidateMethod.js"></script>
<!--    <script type="text/javascript" src="js/lib/shCore.js"></script>
    <script type="text/javascript" src="js/lib/shBrushJScript.js"></script>
    <script>SyntaxHighlighter.all();</script>-->
  </head>
  <body>


  <% include ./include/common.html %>

  <% include ./include/login.html %>

  <% include ./include/brand.html %>

  <% include ./include/phone.html %>

  <% include ./include/email.html %>

  <% include ./include/checkbox.html %>

  <% include ./include/upload.html %>

  <% include ./include/price.html %>

  <% include ./include/radio.html %>



  </body>
</html>
