<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>验证综合页面</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.validate.css">
    <script type="text/javascript" src="js/min/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="js/lib/additional-methods.js"></script>
  </head>
  <body>

  <script>
    var InterFace_Url = "json/isExsitUserName.json"
    var InterFace_Type = "get";
  </script>

  <% include ./include/common.html %>

  <% include ./include/login.html %>

  <% include ./include/brand.html %>

  <% include ./include/phone.html %>

  <% include ./include/reg.html %>

  <% include ./include/checkbox.html %>

  <% include ./include/upload.html %>

  <% include ./include/price.html %>

  <% include ./include/radio.html %>



  </body>
</html>
