@import "reset";
@import "common";

.w1000 {
  float:left;
  width: 360px;
  max-height: 310px;
  margin:10px;
  overflow: hidden;
}

h1 {
  width: 360px;
  height: 40px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  background-color: #f60;
  border-radius: 3px;
  color: #fff;
  text-indent: 10px;
}

ul {
  float: left;
  width: 100%;
  min-height: 240px;
  border: 1px solid #e5e5e5;
  border-top: none;
  box-sizing: border-box;
  overflow:hidden;
  li {
    float: left;
    width: 360px;
    height: auto;
    margin-top: 20px;
    overflow: hidden;

    label {
      float: left;
      width: 130px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      text-align: right;

      &.note {
        width: auto;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-align: center;
      }
    }

    input, textarea, select {
      float: left;
      width: 160px;
      height: 30px;
      margin-left: 10px;
      padding-left: 10px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;

      &.minInput {
        width: 80px;
      }

    }
    input[type='checkbox'],
    input[type='radio'] {
      float: left;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      padding-left: 10px;
      margin-top: 8px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
    }
    textarea {
      height: 60px;
      resize: none;
    }

    button {
      float: left;
      width: 160px;
      height: 40px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f60;
      color: #fff;
    }
  }
}
